.comments_note { margin: 12px 0 0; }

/* pop-in add grade/advice ********************************************************************* */
#fancybox-wrap { width: 585px }

#fancybox-content {
    width: 585px;
    border-width: 0
}

#new_comment_form {
    width: 585px;
    padding:10px 22px;
    color: #333;
    text-align: left;
    background-color: #ffffff;
}

#new_comment_form .title {
  padding: 22px 10px;
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
}

#new_comment_form ul.grade_content { list-style-type: none }

#new_comment_form .grade_content li { width: 50% }

#new_comment_form .product { padding: 15px }

#new_comment_form .product img {
    float: left;
    border: 1px solid #ccc;
}

#new_comment_form .product .product_desc {
    float: left;
    margin-left: 0;
    line-height: 18px;
    color: #666
}
#new_comment_form .product .product_desc p {
  font-size:14px;
  line-height: 20px;
}

#new_comment_form .product .product_desc .product_name {
    padding-bottom: 10px;
    font-size: 20px;
}

#new_comment_form .grade_content { margin: 0 0 20px 0 }

#new_comment_form .grade_content span,
#new_comment_form .grade_content span {
    display: inline-block;
    padding: 0 10px;
    width: 150px; /* 160 */
    font-weight: bold
}

#new_comment_form .grade_content .cancel { margin-right: 5px }

.new_comment_form_content {
    padding: 15px;
    background: none;
}

.new_comment_form_content .intro_form {
    padding-bottom: 10px;
    font-size: 12px
}

#new_comment_form label {
    display: block;
    margin: 12px 0 4px 0;
    font-size: 14px;
    text-align: left;
}

#new_comment_form .required {
  font-size:12px;
}

#new_comment_form input {
    width: 100%;
}

#new_comment_form textarea {
    height: 80px;
    width: 100%;
}

#new_comment_form .submit {
    margin-top: 20px;
    padding: 0;
    font-size: 13px;
    text-align: right
}

#new_comment_form #criterions_list {
    list-style-type: none;
}

#new_comment_form #criterions_list li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

#new_comment_form #criterions_list label {
    display: inline;
    float: left;
    margin: 0 10px 0 0;
    font-size:15px;
    font-weight: 500;
}

.col-content-inside .comments_note {
  width:auto;
  margin:1rem 0 2rem;
}
.col-content-inside .comments_note .star_content {
  display: flex;
  align-items: center;
}
.col-content-inside .comments_note .star_content div.star {
  width: 20px;
  height: 20px;
}
.col-content-inside .comments_note .star_content .nb-comments {
  margin-left:10px;
  margin-top: 4px;
  font-size: 13px;
  line-height: 13px;
}

.comments_note div.star, #productCommentsBlock div.star {
    display: inline-block;
    float: left;
    width: 16px;
    height: 16px;
}

.comments_note div.star, #productCommentsBlock div.star, #new_comment_form div.star {
    -webkit-mask:  url(img/rt_star-off.svg) no-repeat 50% 50%;
    mask: url(img/rt_star-off.svg) no-repeat 50% 50%;
}
.comments_note div.star.star_on, #productCommentsBlock div.star_hover, #productCommentsBlock div.star.star_on, #new_comment_form div.star_hover, #new_comment_form div.star_on {
    -webkit-mask:  url(img/rt_star-on.svg) no-repeat 50% 50%;
    mask: url(img/rt_star-on.svg) no-repeat 50% 50%;
}

#new_comment_form div.star {
    display: inline-block;
    float: left;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

#new_comment_form_footer {
    margin-top: 20px;
    font-size: 12px;
}

#new_comment_form div.star a, #productCommentsBlock .star a {
    display: none;
}

/* TAB COMMENTS ******************************************************************************** */
#product_comments_block_tab { margin: 40px 0 20px 0 }

#product_comments_block_tab div.comment {
    margin: 0 0 32px 0;
    padding: 10px 0 32px;
    border-bottom: 2px dotted #ccc
}

#product_comments_block_tab div.comment div.comment_author {
    float: left;
    padding-right: 30px;
    width: 200px;
    line-height: 18px
}

#product_comments_block_tab .comment_author span {
    margin-top: 6px;
}

#product_comments_block_tab div.comment div.comment_author span { font-weight: bold; }

#product_comments_block_tab div.comment div.comment_author span,
#product_comments_block_tab div.comment .star_content {
    float: left;
}

#product_comments_block_tab div.comment .star_content {
    margin: 0;
}

#product_comments_block_tab .comment_author_infos {
    clear: both;
    padding-top: 20px;
}

#product_comments_block_tab .comment_author_infos em {
  font-style: normal;
  margin-top:10px;
  display: inline-block;
  font-size: 13px;
  opacity: 0.5;
}

#product_comments_block_tab div.comment div.comment_details {
    float: left;
    overflow: hidden;
    width:calc(100% - 200px);
    padding-top:2px;
}

#product_comments_block_tab div.comment_details .title_block, #product_comments_block_tab div.comment_details h4 {
  padding-bottom: 10px;
  font-weight: 500;
}

#product_comments_block_tab div.comment_details p { padding-bottom: 10px }

#product_comments_block_tab div.comment_details ul {
    list-style-type: none;
    margin: 0;
    opacity: 0.2;
    display: flex;
    float:right;
    align-items: center;
    -webkit-transition: all .22s cubic-bezier(.07,.74,.56,.89);
    transition: all .22s cubic-bezier(.07,.74,.56,.89);
}
#product_comments_block_tab div.comment:hover div.comment_details ul {
    opacity: 1;
}

#product_comments_block_tab div.comment_details li {
    padding: 2px 0 2px 12px;
}

#product_comments_block_tab a {
    text-decoration: none;
}

#product_comments_block_tab a:hover { text-decoration: underline }

#product_comments_block_tab button.usefulness_btn {
    cursor: pointer;
    margin: 0;
    display: inline-block;
    padding: 4px 12px;
    border: 2px solid #f2f2f2;
    border-radius: 3px;
    font-weight: 500;
    background: none;
}

#product_comments_block_tab button.usefulness_btn:first-of-type {
  margin-left:12px;
}
#product_comments_block_tab .comment_details ul li:nth-of-type(2){
  display: none;
}

#product_comments_block_tab button.usefulness_btn:hover {
  background-position: left -50px
}

#product_comments_block_tab button.usefulness_btn:active {
  background-position: left -100px
}

#product_comments_block_tab span.report_btn {
  cursor: pointer;
  display: none;
}

#product_comments_block_tab span.report_btn:hover { text-decoration: underline }

.fl { float: left; }

.fr { float: right; }

.open-comment-form {
    margin-bottom: 20px;
}

#newCommentForm {
    display: none;
    background: #FFF;
}

#product_comments_block_tab .comment_details ul li {
    font-size: 12px;
    float:right;
}

#new_comment_form #content {
    width: 100% !important;
    max-width: 100% !important;
}

#new_comment_form_ok {
    overflow: hidden;
    clear: both;
}

@media (max-width:991px) {
  #product_comments_block_tab div.comment_details ul {
    display: none;
  }
  #new_comment_form {
    width:auto;
  }
}
@media (max-width:479px) {
  #product_comments_block_tab div.comment div.comment_details {
    width:100%;
    display:block;
  }
}
